{"fields":
    {"Project": [
        "Impression_Actual__c",
        "Impression_or_Spend_Actual__c",
        "Spend_Actual__c",
        "active",
        "auto_bill",
        "auto_bill_cap_value",
        "budget",
        "budget_time",
        "currency",
        "customer_name",
        "customerid",
        "expected_project_end_date__c",
        "filtersetids",
        "forecasted_end_date__c",
        "id",
        "max_hours_allowed__c",
        "message",
        "name",
        "notes",
        "notify_owner",
        "opportunity_sf_id__c",
        "project_charter_background__c",
        "project_charter_goals__c",
        "project_charter_success__c",
        "project_health_freetext__c",
        "project_health_radio_field__c",
        "project_scope__c",
        "project_secondary_resource__c",
        "project_sf_id__c",
        "project_stageid",
        "project_subtype__c",
        "project_success__c",
        "project_success_reason__c",
        "project_team__c",
        "project_teams_on_project__c",
        "project_type_revamped__c",
        "project_wiki_retro_link__c",
        "project_yesterday_bsk__c",
        "rate",
        "sf_project_deal_calculator_revenue__c",
        "sf_project_deal_calculator_spend__c",
        "sga_labor",
        "sync_workspace",
        "ta_include",
        "te_include",
        "userid",
        "updated",
        "hierarchy_node_ids",
        "ta_approver",
        "finish_date",
        "cost_centerid",
        "start_date",
        "created",
        "template_project_id",
        "total_hours_worked"
    ],
    "User": [
        "GS_org_function__c",
        "account_workscheduleid",
        "active",
        "az_approver",
        "br_approver",
        "cost_centerid",
        "currency",
        "departmentid",
        "dr_approver",
        "filterset_stamp",
        "hierarchy_node_ids",
        "hint",
        "id",
        "job_codeid",
        "km_filter_set",
        "line_managerid",
        "ma_filter_set",
        "name",
        "nickname",
        "password_forced_change",
        "pb_approver",
        "pm_filter_set",
        "po_approver",
        "pr_approver",
        "primary_filter_set",
        "rate",
        "report_filter_set",
        "rm_filter_set",
        "role_id",
        "sf_login__c",
        "sr_approver",
        "ta_approver",
        "ta_filter_set",
        "te_approver",
        "timezone",
        "week_starts",
        "workscheduleid",
        "created",
        "updated"
    ],
    "Customer": [
        "active",
        "company",
        "currency",
        "customer_sf_id__c",
        "customer_tier__c",
        "domestic_region_sf_id__c",
        "global_region_sf_id__c",
        "hierarchy_node_ids",
        "id",
        "member_sf_id__c",
        "name",
        "notes",
        "rate",
        "sf_customer_account_manager__c",
        "sf_customer_segment_customer__c",
        "sf_customer_subsegment_customer__c",
        "statements",
        "ta_include",
        "te_include",
        "terms",
        "type",
        "userid",
        "web",
        "created",
        "updated"
    ],
    "Projecttask": [
        "id",
        "created",
        "updated",
        "notes",
        "name",
        "priority",
        "percent_complete",
        "task_budget_cost",
        "is_a_phase",
        "seq",
        "non_billable",
        "default_category",
        "all_can_assign",
        "predecessors",
        "customer_name",
        "parentid",
        "projecttask_typeid",
        "calculated_finishes",
        "predecessors_lag",
        "currency",
        "cost_centerid",
        "calculated_starts",
        "estimated_hours",
        "project_name",
        "id_number",
        "closed",
        "task_budget_revenue",
        "planned_hours",
        "use_project_assignment",
        "projectid",
        "assign_user_names",
        "starts",
        "fnlt_date",
        "customerid",
        "predecessors_type"
    ],
    "Projecttaskassign": [
        "id",
        "created",
        "userid",
        "planned_hours",
        "updated",
        "projecttaskid",
        "project_groupid",
        "allocation",
        "job_codeid",
        "project_assignment_profile_id",
        "pending_booking_id",
        "booking_id"
    ],
    "Projectassign": [
        "id",
        "created",
        "user_id",
        "project_groupid",
        "updated",
        "job_codeid",
        "customer_id",
        "project_id",
        "allocation"
    ],
    "Task": [
        "id",
        "created",
        "updated",
        "projecttask_typeid",
        "userid",
        "date",
        "decimal_hours",
        "slipid",
        "hours",
        "timetypeid",
        "minutes",
        "projectid",
        "description",
        "categoryid",
        "projecttaskid",
        "timesheetid",
        "notes",
        "customerid",
        "payroll_typeid",
        "job_codeid"
    ],
    "Projectstage": [
        "id",
        "created",
        "updated",
        "notes",
        "name",
        "position"
    ],
    "Booking": [
        "id",
        "hours",
        "ownerid",
        "userid",
        "startdate",
        "enddate",
        "percentage",
        "projectid",
        "externalid",
        "booking_typeid",
        "project_taskid",
        "repeatid",
        "customerid",
        "as_percentage",
        "starttime",
        "endtime",
        "job_code_id",
        "locationid",
        "date_approved",
        "date_submitted",
        "approval_status",
        "created",
        "updated",
        "notes"
    ],
    "BookingByDay": [
        "id",
        "date",
        "booking_id",
        "customer_id",
        "project_id",
        "project_task_id",
        "booking_type_id",
        "job_code_id",
        "hours",
        "userid",
        "created",
        "updated"
    ],
    "BookingType": [
        "id",
        "priority",
        "name",
        "active",
        "created",
        "updated",
        "notes"
    ],
    "Jobcode": [
        "id",
        "name",
        "currency",
        "userid_fte",
        "loaded_cost",
        "active",
        "externalid",
        "notes",
        "created",
        "updated"
    ]
    }
}
